<html>
    <head>
        <title>IvyBill {%block title%}{%endblock%}</title>
        <!-- google icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- materialize css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="containter" align="center">
            <div class="row">
                <div class="col-md-3">
                    <h1>IvyBill</h1>
                    <hr>
                    {% if user %}
                        <small>Logged in as:</small>
                        <h4>Name: {{ user.first_name }} {{ user.last_name }}</h2>
                        <h4>Email: {{ user.email }}</h4>
                        <a href="{% url 'logout' %}"><button class="btn btn-danger">Logout</button></a>
                    {% else %}
                        <small>Not logged in</small>
                        <h2><a href="{% url 'login' %}">Login</a></h2>
                    {% endif %}
                    <hr>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'index' %}">Home</a></li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'bills' %}">Bills</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    {%block content%}
                        <p>How even did you end up here?!</p>
                    {%endblock%}
                </div>
            </div>
        </div>
        <footer>
            <div class="container" align="center">
                <div class="row">
                    <div class="col-md-12">
                        <p>&copy; IvyBill 2022</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    </body>
</html>
