{% extends 'BillDash/base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="container" align="center">
    <div class="row">
        <div class="col-md-12">
            <h1>IvyBill Client Dashboard</h1>
            <small>Here, you can find details about your servers and payments.</small>
        </div>
    </div>
    <div class="row">
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Server Support Code</th>
                    <th>Server Creation Date</th>
                    <th>Server Plan</th>
                    <th>Server RAM</th>
                    <th>Server CPU</th>
                    <th>Server Storage</th>
                    <th>Next Payment Date</th>
                </tr>
            </thead>
            <tbody>
                {% for server in user.customer.server_set.all %}
                <tr>
                    <td>{{server.server_id_hex}}</td>
                    <td>{{server.creation_date}}</td>
                    <td>{{server.plan.name}}</td>
                    <td>{{server.ram}}</td>
                    <td>{{server.cpu}}</td>
                    <td>{{server.disk}}</td>
                    <td>{{server.next_payment_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}