{% extends 'BillDash/base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div>
    <h1>Home</h1>
    <hr>
    <h2>Your Servers</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Server Name</th>
                <th>Server Plan</th>
                <th>Server Software</th>
                <th>Panel link</th>
                <th>Manage Server</th>
            </tr>
        </thead>
        <tbody>
            {% for server in user.customer.server_set.all %}
            <tr>
                <td>{{ server.name }}</td>
                <td>{{ server.plan }}</td>
                <td>{{ server.server_software }}</td>
                <td><a href="{{ ptero_url }}/server/{{ server.server_id_hex }}"><button
                            class="btn btn-primary">Panel</button></a></td>
                <td><a href="{% url 'server_info' server.server_id %}"><button class="btn btn-info">More
                            Info</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}