{% extends 'BillDash/base.html' %}

{% block title %} Server {{db_server.server_id}} {% endblock %}
{% block content %}
<div>
    <h1>Server {{db_server.server_id}}</h1>
    <hr>
    <p><b>Server Name:</b> {{db_server.name}}</p>
    <p><b>Server Plan:</b> {{db_server.plan}}</p>
    <p><b>Server Location:</b> {{db_server.plan.location}}</p>
    <p><b>Server Software:</b> {{db_server.server_software}}</p>
    <p><b>Server Support Code:</b> {{db_server.server_id_hex}}</p>
    <p><b>Server Suspension Status:</b> {{ptero_server.attributes.suspended}}</p>
    <p><b>Server Specs:</b>
    <ul>
        <li>CPU: {{ptero_server.attributes.limits.cpu}} %</li>
        <li>RAM: {{ptero_server.attributes.limits.memory}} MiB</li>
        <li>Disk: {{ptero_server.attributes.limits.disk}} MiB</li>
    </ul>
    </p>
    <p><b>Server Features:</b>
    <ul>
        <li>Databses: {{ptero_server.attributes.feature_limits.databases}}</li>
        <li>Backups: {{ptero_server.attributes.feature_limits.backups}}</li>
    </ul>
    </p>
    <p><b>Network Allocations:</b> <br>
    <ul>
        {% for allocation in ptero_server.attributes.relationships.allocations.data %}
        <li>{{allocation.attributes.alias}}:{{allocation.attributes.port}}</li>
        {% endfor %}
    </ul>
    </p>
    <p>
        <b>Server Creation Date:</b> {{db_server.creation_date}}
    </p>
    <p>
        <b>Next Bill Due:</b> {{db_server.next_payment_date}}
    </p>
    <p><b>Server Bills: </b>
    <table class="table">
        <thead>
            <tr>
                <th>Bill Amount</th>
                <th>Bill Due Date</th>
                <th>Bill Creation Date</th>
                <th>Bill Status</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in db_server.bill_set.all %}
            <tr>
                <td>{{ bill.amount }} {{ bill.currency }}</td>
                <td>{{ bill.due_date }}</td>
                <td>{{ bill.creation_date }}</td>
                <td>{{ bill.paid }}</td>
                <td><a href="{% url 'view_bill' bill.pk %}"><button class="btn btn-info">View Bill</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>
    <p><a href="{{ ptero_url }}/server/{{ db_server.server_id_hex }}"><button class="btn btn-primary">Panel</button></a>
        <a href="{% url 'index' %}"><button class="btn btn-link">Back to Home</button></a>
    </p>
</div>
{% endblock %}